.advantages {
  &__wrapper {
    padding: 50px 25px;
    background-color: $color-smoky-white;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    border: 1px solid $color-dark-grey;
    padding: 30px 30px 35px 30px;
    min-height: 325px;
    min-width: 270px;
    border-left: 5px solid $color-neon-blue;
  }

  &__icon {
    fill: $color-neon-blue;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
  }

  &__item:hover {
    background-color: $color-neon-blue;
  }

  &__item:hover .advantages__title {
    color: $color-smoky-white;
  }

  &__item:hover .advantages__desc {
    color: $color-smoky-white;
  }

  &__item:hover .advantages__icon {
    fill: $color-smoky-white;
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__title {
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: $color-sky-blue;
    margin: 0;
    margin-bottom: 15px;
  }

  &__desc {
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: $color-green-blue;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    &__wrapper {
      padding: 80px 50px;
    }

    &__title {
      font-size: 24px;
      line-height: 34px;
    }

    &__desc {
      font-size: 16px;
      line-height: 22px;
    }

    &__item {
      padding: 95px 46px 35px 46px;
      min-height: 360px;
      min-width: 320px;
    }

    &__item:not(:last-child) {
      margin-bottom: 0;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    &__wrapper {
      padding: 120px 350px;
    }
  }
}
