.catalog {
  background-color: $color-green-blue;

  &__wrapper {
    padding: 50px 25px 56px 25px;
  }

  &__title {
    font-size: 28px;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
    color: $color-default-white;
    margin: 0;
    margin-bottom: 26px;
    padding-right: 14px;
  }

  &__title-tablet {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 30px;
    padding: 30px 30px 160px 30px;
    background-size: cover;
    position: relative;
  }

  &__item--manufacture {
    background-image: url("../img/background_manufacture_mobile.jpg");
    background-color: $color-green-blue;
  }

  &__item--montage {
    background-image: url("../img/background_montage_mobile.jpg");
    background-color: $color-green-blue;
  }

  &__item--set {
    background-image: url("../img/background_set_mobile.jpg");
    background-color: $color-green-blue;
  }

  &__card-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: $color-default-white;
    margin: 0;
    padding: 0 78px 0 0;
  }

  &__card-title--set {
    padding-right: 50px;
  }

  &__card-link {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $color-sky-blue;
    border-radius: 3px;
    bottom: 0;
    right: 0;
    margin: 0;
  }

  &__card-link::before {
    content: "";
    position: absolute;
    width: 5px;
    border: 1px solid $color-default-white;
    transform: rotate(45deg);
    top: 17px;
    right: 17px;
  }

  &__card-link::after {
    content: "";
    position: absolute;
    width: 5px;
    border: 1px solid $color-default-white;
    transform: rotate(-45deg);
    top: 20px;
    right: 17px;
  }

  &__card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media (min-resolution: 2dppx) {
    .catalog {
      &__item--manufacture {
        background-image: url("../img/background_manufacture_mobile_2x.jpg");
      }

      &__item--montage {
        background-image: url("../img/background_montage_mobile_2x.jpg");
      }

      &__item--set {
        background-image: url("../img/background_set_mobile_2x.jpg");
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    &__wrapper {
      padding: 60px 50px 45px 50px;
    }

    &__title {
      display: none;
    }

    &__title-tablet {
      display: block;
      font-size: 36px;
      line-height: 51px;
      font-weight: 400;
      text-align: left;
      color: $color-default-white;
      margin: 0;
      margin-bottom: 34px;
    }

    &__card-title {
      font-size: 20px;
      line-height: 30px;
      padding: 0 430px 0 0;
    }

    &__card-title--set {
      padding-right: 400px;
    }

    &__item--manufacture {
      background-image: url("../img/background_manufacture_tablet.jpg");
    }

    &__item--montage {
      background-image: url("../img/background_montage_tablet.jpg");
    }

    &__item--set {
      background-image: url("../img/background_set_tablet.jpg");
    }

    &__item {
      padding: 36px 45px 154px;
    }

    &__card-link {
      width: 60px;
      height: 60px;
    }

    &__card-link::before {
      width: 7px;
      top: 29px;
      right: 25px;
    }

    &__card-link::after {
      width: 7px;
      top: 33px;
      right: 25px;
    }
  }

  @media (min-resolution: 2dppx) {
    .catalog__item--manufacture {
      background-image: url("../img/background_manufacture_tablet_2x.jpg");
    }

    .catalog__item--montage {
      background-image: url("../img/background_montage_tablet_2x.jpg");
    }

    .catalog__item--set {
      background-image: url("../img/background_set_tablet_2x.jpg");
    }
  }
}


@media (min-width: $desktop-width) {
  .catalog {
    &__wrapper {
      padding-top: 70px;
      padding-bottom: 140px;
      padding-left: 0;
      padding-right: 0;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, 350px);
      column-gap: 85px;
    }

    &__item {
      padding: 50px 80px 545px 40px;
    }

    &__card-title {
      padding-right: 60px;
    }

    &__item--manufacture {
      background-image: url("../img/background_manufacture_desktop.jpg");
    }

    &__item--montage {
      background-image: url("../img/background_montage_desktop.jpg");
    }

    &__item--set {
      background-image: url("../img/background_set_desktop.jpg");
    }
  }

  @media (min-resolution: 2dppx) {
    .catalog {
      &__item--manufacture {
        background-image: url("../img/background_manufacture_desktop_2x.jpg");
      }

      &__item--montage {
        background-image: url("../img/background_montage_desktop_2x.jpg");
      }

      &__item--set {
        background-image: url("../img/background_set_desktop_2x.jpg");
      }
    }
  }
}
