.info {
  background-color: $color-smoky-white;
  &__wrapper {
    padding: 0 25px 80px 25px;
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 400;
    line-height: 39px;
    text-align: left;
    color: $color-green-blue;
  }

  &__text {
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: $color-green-blue;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
  }

  &__text--three-part {
    display: none;
  }

  &__text--four-part {
    display: none;
  }

  &__detail-btn {
    width: 160px;
    border: 1px solid $color-sky-blue;
    padding-top: 8px;
    padding-bottom: 12px;
    color: $color-sky-blue;
    background-color: $color-smoky-white;
  }

  &__picture {
    display: none;
  }

  &__text--active {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .info {
    background-color: $color-smoky-white;

    &__wrapper {
      padding: 0 50px 80px 36px;

      display: flex;
    }

    &__title {
      font-size: 36px;
      line-height: 51px;
    }

    &__text {
      font-size: 16px;
      line-height: 21px;
    }

    &__text--three-part {
      display: block;
    }

    &__detail-link {
      max-width: 180px;
      border: 1px solid $color-sky-blue;
      padding-top: 14px;
      padding-bottom: 8px;
      color: $color-sky-blue;
      background-color: $color-smoky-white;
      font-size: 14px;
      line-height: 16px;
    }

    &__picture {
      display: block;
      margin-right: 30px;
    }

    &__image {
      height: 320px;
      max-width: 150px;
    }
  }
}

@media (min-width: $desktop-width) {
  .info {
    background-position: 335px 2px;

    &__wrapper {
      padding: 5px 0 120px 0;
    }

    &__text--second-part {
      margin-bottom: 0;
    }

    &__text--three-part {
      display: block;
    }
  }
}
