.intro {
  background-image: $color-black-gradient, url("../img/main_background_mobile.jpg");
  background-size: cover;
  background-color: $color-green-blue;
  background-position: bottom;

  &__wrapper {
    padding: 90px 25px 190px 25px;
    margin-top: -10px;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    text-transform: uppercase;
    color: $color-smoky-white;
    margin: 0;
    margin-bottom: 7px;
    letter-spacing: 0.07em;
  }

  &__desc {
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: $color-smoky-white;
    margin: 0;
    margin-bottom: 45px;
  }

  &__consultation-link-mobile {
    width: 100%;
    text-align: center;
    padding: 13px 0;
    letter-spacing: 0.05em;
    font-size: 14px;
    line-height: 16px;
  }

  &__consultation-link {
    display: none;
  }

  @media (min-resolution: 2dppx) {
    .intro {
      background-image: url("../img/main_background_mobile_2x.jpg"), $color-black-gradient;
    }
  }
}


@media (min-width: $tablet-width) {
  .intro {
    background-image: url("../img/main_background_tablet.jpg");

    &__wrapper {
      padding: 80px 50px 205px 50px;
      margin-top: -20px;
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main_background_tablet_2x.jpg"), $color-black-gradient;
    }

    &__title {
      font-size: 64px;
      line-height: 75px;
    }

    &__desc {
      font-size: 22px;
      line-height: 34px;
      margin-bottom: 54px;
    }

    &__consultation-link-mobile {
      display: none;
    }

    &__consultation-link {
      display: block;
      min-width: 410px;
      padding: 15px 25px;
      font-size: 18px;
      line-height: 21px;
      margin-left: 45px;
      letter-spacing: 0.05em;
    }
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background-image: url("../img/main_background_desktop.jpg"), $color-black-gradient;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main_background_desktop_2x.jpg"), $color-black-gradient;
    }

    &__wrapper {
      padding-top: 200px;
      padding-left: 125px;
      padding-bottom: 280px;
    }

    &__title {
      font-size: 80px;
      line-height: 93px;
      margin-bottom: 40px;
    }

    &__desc {
      max-width: 500px;
      margin-bottom: 45px;
    }

    &__consultation-link {
      margin-left: 0px;
    }
  }
}
