.main-header {
  position: sticky;
  top: 0;

  &__wrapper {
    min-height: 70px;
    padding: 10px 35px 15px 26px;
    width: 100%;
    background: $color-dark-blue;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__nav-btn {
    display: none;
  }

  &__text {
    display: none;
  }

  &__logo-text {
    display: none;
  }

  &__logo-icon {
    height: 35px;
    width: 35px;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    &__wrapper {
      min-height: 100px;
      padding: 20px 70px 25px 50px;
    }

    &__logo {
      display: flex;
    }

    &__logo-text {
      display: flex;
      flex-direction: column;
      margin-left: 15px;
    }

    &__smart-device {
      font-size: 25px;
      font-weight: 700;
      line-height: 29px;
      text-align: left;
      color: $color-smoky-white;
      margin-bottom: 5px;
    }

    &__smart-technologies {
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      text-align: left;
      color: $color-default-white;
      opacity: 0.7;
      margin: 0;
    }

    &__logo-icon {
      height: 55px;
      width: 55px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    &__nav-btn {
      display: block;
    }

    &__text {
      display: block;
    }
  }
}
