.main-header {
  &__wrapper {
    min-height: 70px;
    padding: 10px 35px 15px 26px;
    width: 100%;
    background: $color-dark-blue;
    z-index: 10;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding: 10px;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__feedback-btn {
    display: none;
  }

  &__logo-icon-mobile {
    height: 35px;
    width: 35px;
    fill: $color-sky-blue;
  }

  &__logo-icon-desktop {
    display: none;
  }

  &__text {
    display: none;
  }

  &__icon {
    fill: $color-sky-blue;
    width: 20px;
    height: 20px;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    &__wrapper {
      min-height: 100px;
      padding: 20px 70px 25px 50px;
    }

    &__logo-icon-mobile {
      display: none;
    }

    &__logo-icon-desktop {
      display: block;
      height: 55px;
      width: 215px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    position: sticky;
    top: 0;
    z-index: 13;

    &__wrapper {
      padding: 30px 50px 35px;
      min-height: 120px;
    }

    &__feedback-btn {
      display: block;
      min-width: 160px;
      border: 1px solid $color-smoky-white;
      background-color: $color-green-blue;
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      color: $color-smoky-white;
      text-align: center;
      padding: 10px 15px;
      box-sizing: border-box;
      max-height: 40px;
    }

    &__text {
      display: block;
      font-family: "PT Mono", "Arial", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      color: $color-smoky-white;
      text-align: left;
      margin: 0;
      margin-left: 15px;
    }

    &__item {
      display: flex;
      align-items: center;
      padding: 0;
      min-width: 255px;
    }

    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

