.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: $color-dark-page;


  &__feedback {
    position: relative;
    display: block;
    min-height: 610px;
    width: 500px;
    margin: auto;
    background-color: $color-neon-blue;
    padding: 40px;
  }

  &__close-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: $color-neon-blue;
    border: none;
  }

  &__close-btn::after {
    content: "";
    position: absolute;
    width: 28px;
    border: 1px solid $color-default-white;
    top: 17px;
    right: 4px;
    transform: rotate(45deg);
  }

  &__close-btn::before {
    content: "";
    position: absolute;
    width: 28px;
    border: 1px solid $color-default-white;
    top: 17px;
    right: 4px;
    transform: rotate(-45deg);
  }

  &__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    color: $color-default-white;
    margin: 0;
    margin-bottom: 15px;
  }

  &__subtitle {
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: $color-default-white;
    text-align: left;
    margin: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  &__input,
  &__input::placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: $color-default-white;
    text-align: left;
  }

  &__input {
    background-color: $color-form-blue;
    border-radius: 3px;
    margin-bottom: 20px;
    border: none;
    padding: 15px;
    width: 100%;
  }

  &__text {
    padding: 25px 15px;
    text-align: left;
    margin-bottom: 25px;
  }

  &__sent-btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: $color-default-white;
    text-align: center;
    padding: 15px 60px;
    background-color: $color-green-blue;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__label-checkbox {
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: $color-default-white;
    text-align: left;
    position: relative;
  }

  &__mark {
    position: absolute;
    width: 15px;
    height: 14px;
    border: 1px solid $color-default-white;
    top: 0;
    left: 0;
    background-color: $color-neon-blue;
  }

  &__personality-data[type="checkbox"]:checked + .modal__mark {
    position: absolute;
    content: "";
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.modal-close {
  display: none;
}
