.points {
  &__wrapper {
    padding: 20px 0;
  }

  &__title {
    color: $color-default-white;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
  }

  &__list {
    display: none;
  }
}
