.social {
  &__wrapper {
    padding: 40px 30px 20px 30px;
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
  }

  &__logotype {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  &__logo-text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }

  &__logo-icon {
    width: 55px;
    height: 55px;
    fill: $color-sky-blue;
  }

  &__icon {
    fill: $color-text-logo;
    height: 40px;
    width: 40px;
  }

  &__smart-device {
    color: $color-default-white;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    margin: 0;
  }

  &__smart-technologies {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    color: $color-text-logo;
    margin-bottom: 0;
    margin-top: 3px;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item:not(:last-child) {
    margin-right: 14px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    &__wrapper {
      padding: 50px 48px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: none;
    }

    &__logotype {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    &__logotype {
      margin-bottom: 35px;
    }
  }
}

