.support {
  &__wrapper {
    background-color: $color-neon-blue;
    padding: 50px 25px 90px 25px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    color: $color-default-white;
    text-align: left;
  }

  &__subtitle {
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: $color-default-white;
    text-align: left;
  }
}
