.support {
  &__wrapper {
    background-color: $color-neon-blue;
    padding: 50px 25px 90px 25px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    color: $color-default-white;
    text-align: left;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 40px;
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: $color-default-white;
    text-align: left;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    background-color: $color-form-blue;
    border-radius: 3px;
    margin-bottom: 20px;
    border: none;
    padding: 15px;
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: $color-default-white;
    text-align: left;
  }

  &__text {
    padding-top: 25px;
    padding-bottom: 135px;
  }

  &__btn {
    background-color: $color-green-blue;
    color: $color-default-white;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  &__consent {
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: $color-default-white;
    text-align: left;
  }

  &__label-checkbox {
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: $color-default-white;
    text-align: left;
    position: relative;
  }

  &__mark {
    position: absolute;
    width: 15px;
    height: 14px;
    border: 1px solid $color-default-white;
    top: 0;
    left: 0;
    background-color: $color-neon-blue;
  }

  &__personality-data[type="checkbox"]:checked + .support__mark {
    position: absolute;
    content: "";
    background-image: url("../img/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__image {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .support {
    &__wrapper {
      padding: 50px 50px 125px 50px;
    }

    &__title {
      margin-bottom: 10px;
      font-size: 36px;
      line-height: 51px;
    }

    &__subtitle {
      margin-bottom: 25px;
      font-size: 16px;
      line-height: 22px;
    }

    &__form {
      grid-template-columns: 50% 50%;
      display: grid;
      column-gap: 30px;
      row-gap: 20px;
    }

    &__input {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 0;
    }

    &__text {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: -1;
    }

    &__btn {
      font-size: 16px;
      line-height: 19px;
      padding: 15px;
      margin-top: 15px;
      margin-bottom: 0;
      max-width: 265px;
    }

    &__label-checkbox {
      padding-right: 100px;
      margin-top: 25px;
      font-family: "PT Mono", "Arial", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      color: $color-default-white;
      text-align: left;
    }
  }
}

@media (min-width: $desktop-width) {
  .support {
    &__wrapper {
      padding: 170px 350px 250px 350px;
      display: flex;
      gap: 115px;
      background-color: $color-neon-blue;
    }

    &__image {
      display: block;
      padding-top: 76px;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__subtitle {
      margin-bottom: 35px;
    }
  }
}
