.support {
  &__wrapper {
    background-color: $color-neon-blue;
    padding: 50px 25px 90px 25px;
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    color: $color-default-white;
    text-align: left;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 40px;
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: $color-default-white;
    text-align: left;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    background-color: $color-form-blue;
    border-radius: 3px;
    margin-bottom: 20px;
    border: none;
    padding: 15px;
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: $color-default-white;
    text-align: left;
  }

  &__text {
    padding-top: 25px;
    padding-bottom: 135px;
  }

  &__btn {
    background-color: $color-green-blue;
    color: $color-default-white;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  &__consent {
    font-family: "PT Mono", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: $color-default-white;
    text-align: left;
  }
}
