.wrapper {
  width: 100%;
  margin: 0 auto;
}


@media (min-width: $desktop-width) {
  .content-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .content-wrapper {
    max-width: $max-desktop-width;
  }
}
