// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2"),
//     url("../fonts/rouble.woff") format("woff");
// }

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Mono", "Arial", sans-serif;

  font-display: swap;
  src: url("../fonts/PTMono-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed", "Arial", sans-serif;

  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto Condensed", "Arial", sans-serif;

  font-display: swap;
  src: url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}
