// Colors
// ---------------------------------

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-sky-blue: #00b2ff;
$color-neon-blue: #00b3ff;
$color-torch-red: #ff1553;
$color-smoky-white: #f2f5f6;
$color-light-grey: #e5e5e5;
$color-dark-grey: #ebebeb;
$color-green-blue:  #041827;
$color-form-blue: rgba(4, 20, 39, 0.15);
$color-text-logo: #f8fdff;
$color-dark-page: rgba(3, 16, 27, 0.7);
// Gradient

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
$color-dark-blue: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
$color-black-gradient: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);

// Viewports
// ---------------------------------
$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;
$max-desktop-width: 1220px;


// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
